/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}*/

/*header {
    background-color: #007bff;
    color: white;
    padding: 20px;
}*/

/*main {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    
    font-size: 16px;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    max-width: none;
}
header{
    /*background-image: url('../img/Captura\ de\ pantalla\ \(2998\).png');*/
    background-image: url('../img/imagenPortada1.png');
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: cover;
    background-size: 100% 100%; 
    background-color: aqua;

}
header .barra{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header .barra a:hover{
    text-decoration: underline;

}
header .barra a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: inline-block;
    padding: 10 px 0;
    margin: 0 15px ;
    color: #fff;
    text-decoration: none;

}
header .contenido-header{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /*border: 3px solid;*/
    color: #fff;
    width: 100%;
    height: 550px;
    text-align: center;
    align-items: center;
    padding-bottom: 100px;

}
header .contenido-header .title-header{
    color: #ffffff;
    font-size: 70px;
    text-align: center;
    /*font-family: cursive;*/
    font-family: Arial, Helvetica, sans-serif;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    font-weight: 600;
    

}
header .contenido-header .texto-header{
    color: #fff;
    font-weight: 300;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    width: 70%;
    
}


.contenedor1{
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    max-width: none;
}


main .recientes{
    background: #000000 ;/*#d2b8f0 */
    padding: 70px 0;
}
main .recientes .recientes-title{
    color: #ffffffea;
    font-weight: 100;
    font-size: 35px;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}







main .recientes .contenedor-recientes{
    width: 100%;
    
    
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 60px;
    padding: 0;
}
main .recientes .img-recientes{
    border-radius: 10px;
    min-height: 390px;/*altura minima*/
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    width: 300px;
    
    
}


main  .recientes .img-recientes .boton{
    background: #aa00ff00;
    display: block;
    width: 50%;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border: 3px solid #d4e4ee ;
    border-radius: 10px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    color: #e5e0e9  ;
    margin-top: 300px;
}

main .recientes .actores-title{
    color: #ffffffea;
    font-weight: 100;
    font-size: 35px;
    text-align: center;
    
    margin-bottom: 30px;
    padding: 70px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
main .recientes .contenedor-actores{
    width: 100%;
    
    
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 60px;
    padding: 0;
}
main .recientes .img-actores{
    
    min-height: 500px;/*altura minima*/
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    width: 300px;

    
    
}
main .img-actores .nombre-actor{
    color: #fff;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    font-size: 50px;
    font-weight: 900;
    margin-top: 300px;
    
    
}






table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #004080;
    color: white;
}
/*MAIN SECCION PELICULAS POR GENERO */
.contenedor{
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    max-width: none;
}

main .peliculas1{
    background: #000000 ;/*#d2b8f0 */
    padding: 30px 0;
}
main  .pelicula-titulo{
    font-size: 30px;
    color: #fff;
    margin-left: 50px;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-weight: 700;
    
}
main .peliculas1 .selecciona{
    font-size: 20px;
    color: #fff;
    margin-left: 50px;
}
main .peliculas1 .button{
    background: #aa00ff00;
    display: block;
    width: 100px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    border: 2px solid #7c7c7c ;
    border-radius: 5px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #e5e0e9  ;
    background-color: #1e1e2f;
}
.genero-filtro {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-bottom: 20px;
}

select {
    padding: 5px;
    border: 2px solid #d4e4ee;
    border-radius: 5px;
    background-color: #1e1e2f; /* fondo personalizado */
    color: #e5e0e9; 
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    background-size: 16px;
    width: 100px;
}



.peliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/*agregado*/
    gap: 20px;
}
.pelicula {
    width: 250px;/*editado*/
    text-align: center;
    /*padding: 30px 0;*/
}
.pelicula img {
    width: 100%;
    border-radius: 10px;
}
/*PELICULA TITULOS*/
.pelicula .pelicula-subtitulos{
    padding: 10px 0;
    color: #fff;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pelicula .pelicula-comentarios{
    color: #fff;
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

.paginacion{
    /*margin-left: 80px;*/
    text-align: center;
}
.paginacion a {
    margin: 10px;
    padding: 5px 10px;
    background: #1e1e2f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #d4e4ee ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}



/*FOOTER */
footer {
    background-color: #1c1c1c;
    color: white;
    padding: 20px;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}
footer .texto-footer{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

